@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 1.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes underline {
    from {
        width: 0;
    }

    to {
        width: 6rem;
    }
}

.animate-underline {
    animation: underline 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s both;
}