/* EstateOffice.css - Custom styles for the Estate Office view */

.service-card {
    cursor: pointer;
    will-change: transform, box-shadow;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}